<h1>Lägg till Kategori</h1>

<form asp-route="AddCategory" method="POST">

    <div class="form-group">
        <label for="name">Namn:</label>
        <input type="text" name="Name" id="name" class="form-control" />
    </div>
    <input class="btn btn-primary mt-2" type="submit" value="Lägg till" />

</form>