<h1>Lägg till tags</h1>

<form asp-route="AddTags" method="POST">

    <div class="form-group">

        <label for="tagName">Namn: </label>
        <input type="text" name="name" id="tagName" class="form-control"/>
        <input type="submit" class="btn btn-primary mt-2" />
    </div>

</form>